Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
# This is a single-line comment
x = 5  # This is also a single-line comment

"""
This is a multi-line comment
It can span multiple lines
This is commonly used for function documentation (docstrings)
"""

def my_function():
    """
    This is a docstring for my_function.
    It explains what the function does and how to use it.
    """
    pass

Q2. What are variables in Python? How do you declare and assign values to variables?

In [3]:
x = 5 
name = "John" 
pi_value = 3.14 
is_true = True

Q3. How do you convert one data type to another in Python?

In [4]:
x = 5  # Integer
y = 3.14  # Float
z = x + y  # Result will be a float (implicit conversion)

In [5]:
x = "10"  # String
y = int(x)  # Convert string to integer

In [7]:
x = 10  # Integer
y = float(x)  # Convert integer to float

In [8]:
x = 0  # Integer
y = bool(x)  # Convert integer to boolean

Q4. How do you write and execute a Python script from the command line?

In [9]:
print("Hello, world!")

Hello, world!

In [10]:
cd path/to/your/directory

[WinError 3] The system cannot find the path specified: 'path/to/your/directory'
C:\Users\baras\Desktop\PW_Assignment

In [11]:
python my_script.py

SyntaxError: invalid syntax (1858525316.py, line 1)

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [13]:
my_list = [1, 2, 3, 4, 5]

# Slice the list to obtain the sub-list [2, 3]
sub_list = my_list[1:3]

print(sub_list)

[2, 3]

In [14]:
[2, 3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [15]:
z1 = complex(3, 4)  # 3 + 4i
z2 = complex(-2, 5) # -2 + 5i

z3 = 2 + 3j   # 2 + 3i
z4 = -4 - 2j  # -4 - 2i

print(z1)  
print(z2) 
print(z3) 
print(z4)

(3+4j)
(-2+5j)
(2+3j)
(-4-2j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [16]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [17]:
price = 9.99   # float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [18]:
name = "Saurabh Baraskar"

In [19]:
print(name)

Saurabh Baraskar

Q10. Given the string "Hello, World!", extract the substring "World".

In [20]:
s = "Hello, World!"
substring = s[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [22]:
is_student = True