# Assignment-1

# Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
# (i) String
my_string = "Hello, world!"

# (ii) List
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14

# (iv) Tuple
my_tuple = (1, 2, 3, 4, 5)

 # Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [4]:
# (i) var1: string
var1 = ''

# (ii) var2: string
var2 = '[ DS , ML , Python]'

# (iii) var3: list
var3 = ['DS', 'ML', 'Python']

# (iv) var4: float
var4 = 1.0

# Basic operations/examples:

# Concatenating strings
concatenated_string = var1 + "Hello"

# Accessing elements in a list
first_element = var3[0]

# Converting a string representation of a list to an actual list
parsed_list = var2.strip('[]').split(', ')

# Adding a number to a float
new_float = var4 + 2.5

# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
result = 10 / 3
print(result)  # Output: 3.3333333333333335

3.3333333333333335

In [6]:
remainder = 10 % 3
print(remainder)  # Output: 1

1

In [7]:
result = 10 // 3
print(result)  # Output: 3

3

In [8]:
result = 2 ** 3
print(result)  # Output: 8

8

 Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {'key': 'value'}, (4, 5), None, 5+3j, range(5)]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 10, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'key': 'value'}, Data Type: <class 'dict'>
Element: (4, 5), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: (5+3j), Data Type: <class 'complex'>
Element: range(0, 5), Data Type: <class 'range'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [11]:

A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

# Verify if A is divisible by B
while A % B == 0:
    # If A is divisible by B, update A to be the result of division
    A /= B
    # Increment the counter
    count += 1

if count > 0:
    print(f"{count} times. A is purely divisible by B.")
else:
    print("A is not purely divisible by B.")

Enter number A: 3
Enter number B: 4
A is not purely divisible by B.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
# Create a list containing 25 int type data
my_list = [i for i in range(1, 26)]

# Using for loop and if-else condition to print if the element is divisible by 3 or not
for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [13]:
# Example of immutable data type - int
x = 5
print("Before:", x)
x = 10  # This creates a new int object with the value 10
print("After:", x)

Before: 5
After: 10

In [14]:
# Example of mutable data type - list
my_list = [1, 2, 3]
print("Before:", my_list)
my_list.append(4)  # This modifies the existing list
print("After:", my_list)

Before: [1, 2, 3]
After: [1, 2, 3, 4]