# Pandas Assignment

In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
import pandas as pd

# Create a list with 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a Pandas Series
series = pd.Series(data_list)

# Print the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name : Alica ,Bob , Claria , Age : 25, 30 ,27 
Then, print the DataFrame.

In [7]:
import pandas as pd

# Create a dictionary containing the data
data = {
    'Name': ['Alica', 'Bob', 'Claria'],
    'Age': [25, 30, 27]
}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age
0   Alica   25
1     Bob   30
2  Claria   27

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [8]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alica', 'Bob', 'Claria'],
    'Age': [25, 30, 27]
}
df = pd.DataFrame(data)

# Create a Series
ages = pd.Series([25, 30, 27])

# Print the DataFrame and Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age
0   Alica   25
1     Bob   30
2  Claria   27

Series:
0    25
1    30
2    27
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [9]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alica', 'Bob', 'Claria'],
    'Age': [25, 30, 27]
}
df = pd.DataFrame(data)

# Fill missing values in the 'Age' column with the mean age
mean_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(mean_age)

# Group the data by age and count the number of people in each age group
age_groups = df.groupby('Age').size()

# Sort the DataFrame by age in descending order
sorted_df = df.sort_values(by='Age', ascending=False)

print("DataFrame after manipulation:")
print(sorted_df)
print("\nCount of people in each age group:")
print(age_groups)

DataFrame after manipulation:
     Name  Age
1     Bob   30
2  Claria   27
0   Alica   25

Count of people in each age group:
Age
25    1
27    1
30    1
dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


Among Series, DataFrame, and Panel, only DataFrame is mutable in nature.

DataFrame objects can be modified, including changing values, adding or removing columns, and performing other data manipulation operations.

Series and Panel objects, on the other hand, are immutable. Once created, their values cannot be changed directly. However, you can create new Series or Panel objects with modified values if needed.

Since Pandas version 0.25.0, the Panel class has been deprecated in favor of using MultiIndex DataFrames or xarray.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd

# Create multiple Series
name_series = pd.Series(['Alica', 'Bob', 'Claria'])
age_series = pd.Series([25, 30, 27])

# Create a DataFrame using the Series
df = pd.DataFrame({'Name': name_series, 'Age': age_series})

# Print the DataFrame
print(df)