# MYSQL Assignment

Q1. What is a database? Differentiate between SQL and NoSQL databases.

SQL (Relational Databases):

Structured Query Language (SQL).
Structured data in tables with fixed schemas.
ACID transactions.
Vertical scalability.
Strong consistency.
NoSQL (Non-relational Databases):

Flexible schema.
Various data formats (document, key-value, column, graph).
BASE transactions.
Horizontal scalability.
Eventual consistency.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    department VARCHAR(100)
);

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

INSERT INTO employees (id, name, age, department)
VALUES (1, 'John Doe', 30, 'IT');

Q4. What is DQL? Explain SELECT with an example.

SELECT id, name, age, department
FROM employees
WHERE department = 'IT';

Q5. Explain Primary Key and Foreign Key.

CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

FROM
JOIN
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY
LIMIT/OFFSET